@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

/* Global Classes */
html {
    font-size: 62.5%;
}


body {
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    background-color: #ffff;
    margin: 0;
    
}

a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}

ul {
    list-style-type: none;
}


/* Custom Classes */
/* Nav bar */
header {
    padding-inline: 8rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.logo {
   padding: 0.1px 1.9rem;
   background-color: #dadada;
   font-size: 1.5rem;
   font-weight: bold;
}

.logo:hover {
    background-color: #e9e9e9;
    transition: all ease-in-out 0.3s;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}


.navigation .nav-list {
    display: flex;
    gap: 3rem;
    
}

.navigation .nav-list .nav-item:hover {
    border-bottom: 1.5px solid #000;
    
}
header .btn-toggle {
    flex-direction: column;
    gap: 0.5rem;
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: none;
}

header .btn-toggle span {
    width: 2rem;
    height: 1px;
    background-color: #000;
}

/* Hero Section */

main .hero {
    background-color: #dadada;
    width: 100%;
    height: 86rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./Assets/Hero.jpg');
    color: white;
}

.hero h1 {
    font-size: 6rem;
    text-transform: capitalize;
    width: 35rem;
    text-align: center;
    margin: 0;
}

.hero p {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 3.5rem;
    color: white;
}
.hero button {
    border: 1.5px solid rgb(134, 134, 134);
    padding: 1rem 2rem;
    background-color: white;
    cursor: pointer;
}
.hero button:hover {
    background-color: #e9e9e9;
    transition: all ease-in-out 0.3s;
}

/* Container */

main .container {
    padding-inline: 8.5rem;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2rem;
}

.container div {
    background-color: #dadada;
    height: 32rem;
    padding: 2rem;
    text-align: right;
    text-transform: capitalize;
    display: flex;
    font-size: 2.3rem;
    justify-content: center;
    align-items: end;
    background-image: url('./Assets/01.jpg');
    object-fit: fill;
    background-size: cover;
    background-position: center;
}
.container div:nth-child(2) {
    background-image: url('./Assets/02.jpg');
    object-fit: fill;
    background-size: cover;
    background-position: center;
}

.container div:first-child {
    justify-content: end;
    padding-right: 10rem;
    font-size: 3rem;
    background-image: url('./Assets/new.jpg');
    object-fit: fill;
    background-size: cover;
    background-position: center;
}

.container div a {
    padding: 1rem 1.5rem;
    background-color: rgb(247, 247, 247);
}


/* Footer Section */
    .footer {
        margin: 4rem 8.5rem ;
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        text-align: center;
        padding: 3rem 0;
    }

    .footer h2 {
        text-transform: capitalize;
        font-weight: normal;
        font-size: 3rem;
        margin: 0;
    }

    .footer p {
        margin: 0.5rem 0;
        color: gray;
    }
    .footer form {
        margin: 3rem 0;
    }

    .footer form div {
        position: relative;
        margin-inline: auto;
        width: 40rem;
    }

    .footer form div input {
        width: 100%;
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
        font-size: 2rem;
    } 
    .footer form div button {
        position: absolute;
        border: none;
        background-color: transparent;
        right: 2px;
        transform: translateX(4px);
        
    }

    footer .socials ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 0;
    }
    
    footer img {
        width: 2rem;
    }

/* Mobile Display */

@media screen and (max-width: 800px) {

    body.disable {
        overflow: hidden;
    }

    header {
        justify-content: space-between;
        padding-inline: 2rem;
        
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        
    }
    header .navigation {
        position: absolute;
        z-index: 10;
        top: 5.1rem;
        background-color: #C0C0C0;
        width: 100%;
        height: 100vh;
        left: -600px;
        font-size: 2rem;
        font-weight: bold;
        border: 1px solid rgb(153, 151, 151);
        transition: all ease-in-out 0.3s;
    }

    header .navigation.active {
        left: 0 !important;
        transition: all ease-in-out 0.3s;
    }

    header .navigation .nav-list {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-left: 1rem;
        text-align: center;
    }
    .navigation .nav-list .nav-item:hover {
        border:none;
        
    }

    header .btn-toggle {
        display: flex;
        transition: all ease-in-out 0.3s;
    }
    header .btn-toggle span {
        
        transition: all ease-in-out 0.3s;
    }
    header .btn-toggle.active span:nth-child(2) {
        transform: translateX(5px);
        transition: all ease-in-out 0.3s;
    }

    main .container {
        grid-template-columns: 1fr;
        padding-inline: 4rem;
    }
    main .container div:first-child {
        justify-content: center;
        padding-right: 0;
    }
    
}




